@media screen and (max-width: 1332px){
    header{
        height: 850px;
    }

    .logos h1{
        width: 150px;
        padding: 0px;
        padding-top: 130px;
    }
    /* Exception sur le les allier*/

    
    .man-logo img{
        width: 90%;
        margin-left: 30%;
        margin-top: -60%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px){
    header{
        height: 650px;
    }

    .logos h1{
        width: 150px;
        padding: 0px;
        padding-top: 130px;
    }
    /* Exception sur le les allier*/

    .man-logo img{
        width: 70%;
        margin-left: 43%;
        margin-top: -40%;
    }
    .nav-fixe{
        position: fixed;
        right: -5px;
        flex-wrap: wrap;
        bottom: 20%;
        z-index: 1;
    }
}


@media screen and (min-width: 600px) and (max-width: 799px){
    header{
        height: 650px;
    }

    .logos h1{
        width: 150px;
        padding: 0px;
        padding-top: 130px;
    }
    /* Exception sur le les allier*/

    
    .allier{
        margin-top: 5%;
        display: flex;
        margin-left: 10%;
        width: 100%;
        justify-content: space-between;
    }
    .man-logo img{
        width: 50%;
        margin-left: 48%;
        margin-top: -25%;
    }
    .nav-fixe{
        position: fixed;
        right: -5px;
        flex-wrap: wrap;
        bottom: 20%;
        z-index: 1;
    }
}

@media screen and (min-width: 361px) and (max-width: 480px){
    header{
        height: 250px;
    }
    .logo img{
        width: 70%;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 5%;
        border-bottom: 3px solid #BCBBBD;

    }
    /* ceci est une style du titre*/
    h1, .menu p{
        font-size: 18px;
        font-family: 'rajdhani medium';
    }
    /* Taille et Police du boutons */
    button{
        font-size: 10px;
    }

    .nom-bathome p, label{
        font-size: 9px;
    }

    .texte-bat, ::placeholder, .aventure p{
        font-size: 9px;
    }

    .texte-menu p{
        font-size: 11px;
    }
    .intro{
        margin-top: 0%;
        width: 59%;
    }
    .intro .batman{
        margin-top: 2%;
    }

    /* -------------------------Boutons sur intro------------------- */
    .bouton-menu{
        margin-top: 8%;
    }
    .bouton-menu button{
        position: relative;
        border: none;
        background: linear-gradient(to right,#eddebf40, #89000860);
        font-size: 11px;
        padding: 2% 3%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        z-index: 10;
    }
    .bouton-menu button:hover{
        background: linear-gradient(to right,#eddebf, #890008);
        z-index: 5;
    }
    .nav-fixe{
        position: fixed;
        right: -13%;
        flex-wrap: wrap;
        bottom: 20%;
        z-index: 1;
    }
    .nav-fixe ul li{
        padding: 5px;
    }

    .sous-icon{
        width: 50%;
    }
    /* Réduire taille flêche haut et bas menu fixe */
    .arrow img{
        width: 50%;
    }
    .heros{
        width: 80%;
    }
    .fleche{
        /* padding-top: 6%; */
        margin: 0 auto;
        width: 10%;
    }
    .fleche img{
        width: 70%;
    }

    .man-logo img{
        width: 70%;
        margin-left: 40%;
        margin-top: -60%;
    }

    .logos{
        background: url('../Illustrations/Bathome13.png');
        background-size: 65%;
        background-repeat: no-repeat;
        background-position-x: right;
        width: 50%;
        height: 70px;
        z-index: -1;
    }

    .logos h1{
        width: 150px;
        padding: 0px;
        padding-top: 40px;
    }

    /* multimedia */
    /* Style sur bande annonce */

    #justice-league{
        width: 80%;
    }
    .pre-sui img{
        width: 70%;
        margin-top: 120%;
    }

    #texte-annonce{
        width: 80%;
        height: 15vh;
    }

    #texte-annonce img{
        height: 15vh;
        border-radius: 5px 0px 0px 5px;
    }
    .bande-texte p{
        font-size: 5px;
        word-wrap: wrap;
    }
    .bande-texte{
        width: 45% !important;
    }

    /* formulaire */

    .formulaire{
        height: 450px;
    }

    .type-input{
        display: block;
        width: 50%;
        height: 140%;
        margin: 0 auto;
    }

    .type-input h1{
        text-align: center;
        padding-top: 25px;
    }
    .contact{
        display: flex;
    }
    .aventure{
        width: 60%;
    }
    .check{
        margin-left: -10%;
        margin-top: -1%;
    }

    .deroulant:hover .deroulant-list{
        opacity: 1;
        visibility: visible;
    }

    .deroulant-select{
        padding-top: 10px;
        padding-right: 3px;
        width: 99.6%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        cursor: pointer;
        border-bottom: 1px solid #eddebf90;
    }
    .select-img{
        rotate: 90deg;
        width: 20px;
    }

    .deroulant-list{
        background: linear-gradient(150deg, #eddebf, #19587d);
        position: absolute;
        top: 0fr;
        opacity: 0;
        width: 50%;
        visibility: hidden;
        transition: opacity 0.2s linear, visibility 0.2s linear; 
    }

    .list-item{
        padding: 0.4rem;
        font-size: 9px;
        border-bottom: 2px solid #eddebf90;
        font-family: 'space grotesk regular';
        color: white;
    }


    .milieu{
        margin-left: 5px;
        margin-top: -15%;
    }
    /* ça c'est style des trois boutton en bas sur formulaire */

    /* Ici on voit le style de border de button*/
    .film{
        padding: 2px 3px 2px 3px;
        margin: 10%;
    }
    /* Ceci  */
    .tout{
        width: 220%;
    }
    .tout button{
        background: none;
        border-width: 2px;
        border-image:  linear-gradient(to right, #eddebf40, #19587d40);
        border-image-slice: 1;
        border-image-repeat: stretch;
        padding: 5% 8% 5% 8%;

    }

    .centre-confirm{
        position: absolute;
        margin-top: -12%;
        margin-left: 40%;
        width: 8.5%;
    }
    footer{
    height: 380px;
    }
    .contour-foot{
    height: 380px;
    }
    .pied-page{
        width: 80%;
        padding-top: 20%;
        height: 150px;
    }
    .texte-fin{
        width: 150%;
        margin: 0 auto;

    }
    .texte-grand{
        font-size: 12px;
    }
    .texte-gris{
        margin-top: 4%;
        font-size: 9px;
    }
    .quote img,  .quotes img{
        width: 40%;
        }
        .quote{
        margin-top: -10%;
        }
    .quotes img{
        margin-top: 12%;
        margin-left: 55%;
        }

        /* petite cercle sur le pied du page */

    .vide{
    margin-left: 2px;
    width: 3px;
    height: 3px;
    }

    /* Rond rempli sur le pied du page ou le point bleu milieu du cercle*/

    .rempli{
    margin-left: 2px;
    width: 5px;
    height: 5px;
    }

    .footer-fin{
    display: flex;
    margin: 15% auto 0 auto;
    width: 70%;
    }
    .foot-text{
    font-size: 7px;
    }

    .foot-logo{
    width: 60%;
    }

    .foot-logo ul{
    list-style: none;
    display: flex;
    }
    .xicon{
        margin: 3px 5px;
    }
    .icon-pied{
        margin-left: 10%;
    }
    .icon img{
    width: 80%;
    }
    .icons{
    margin-top: 35%;
    width: 80%;
    }
    /* Fin */
}